body{
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
}

.form{
    width: 600px;
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
    flex-direction: column;

}

label{
    font-size: 20px;
    margin-right: 135px;
    padding-bottom: 10px;
    margin-top: 10px;

}

button{
    margin-top: 10px;
    width: 100px;
    background-color: rgb(35, 101, 255);
    color: white;
    border-radius: 3px;

}

input{
    height: 25px;
}


.outputbar{
display: flex;
align-items: flex-start;
justify-content: space-evenly;
flex-direction: column;
width: 600px;
height: 100px;
font-size: 20px;
background-color: rgb(255, 255, 255);

border-radius: 10px;

margin-top: 10px;
text-align: center;
box-shadow: 3px 3px 3px;

}
.delButton{
    background-color: red;
    color: white;
    align-self: center;
    margin-top: 0;
    

}
span{
    border-top: 10px;
}